/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header + barre de navigation ***********/
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header img {
    height: 19px;
    margin: 30px 50px 30px 0;
}
.header ul {
    display: flex;
    gap: 68px;
    list-style: none;
    margin-top: 18px;
}
.header a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 16px;
}

/****** Main section, search bar + filters ***********/
.main-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 0;
}
h1 {
    font-weight: bold;
    font-size: 1.375rem;
    margin: 0;
    padding-bottom: 8px;
}
p {
    margin: 0;
}
h2 {
    font-size: 1.125rem;
    margin: 0;
    align-content: center;
}
.main-section-search {
    display: flex;
}
.main-section-search-label,
.main-section-search-field input,
.main-section-search-buttons button {
    height: 49px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    border: none;
}
.main-section-search-label {
    padding: 15px 18px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.main-section-search-label i {
    color: black;
}
.main-section-search-field input {
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
}
.main-section-search-buttons button {
    padding: 15px 16px;
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.main-section-search-bicon {
    display: none;
}
.main-section-filters {
    display: flex;
    gap: 15px;
}
.main-section-filters div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
}
.main-section-filters-categories div {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px;
    height: 50px;
}
.main-section-filters p {
    font-weight: bold;
    font-size: 1.063rem;
    margin: 0;
}
.main-section-filters a:hover {
    background-color: #DEEBFF;
    border-radius: 25px;
}
.main-section-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}
.main-section-info i {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
}
.main-section-info p {
    margin: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements-and-populaires h2 {
    font-size: 1.375rem;
}
.hebergements-and-populaires h3 {
    font-size: 1.125rem;
}
.hebergements-and-populaires h4 {
    font-size: 1.125rem;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-title {
    margin-bottom: 30px;
}
.section-subtitle {
    margin: 30px 0 0 0;
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    gap: 30px;
}
.hebergements-cards a {
    width: calc((100% - 60px) / 3);
}
.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card {
    width: 100%;
    padding-bottom: 8px;
    height: 100%;
    box-sizing: border-box;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    margin-top: 4px;
    margin-bottom: 0;
}
.hebergements-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}
.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    /*margin-bottom: 30px;*/
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.activites-section {
    margin-bottom: 35px;
    padding: 30px;
    padding-bottom: 0;
}
.activites h2 {
    font-size: 1.375rem;
    margin-bottom: 30px;
}
.activites h3 {
    font-size: 1rem;
    padding: 0 20px;;
    margin: 0;
    height: 60px;
    align-content: center;
}
.activites-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    width: 100%;
}
.activites-cards .card {
    width: 100%;
    padding: 0;
}
.activites-cards a {
    width: calc((100% - 90px) / 4);
}
.activites-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Footer ***********/

.footer {
    margin-top: 30px;
}
.footer-content {
    display: flex;
    background-color: var(--main-bg-color);
}
.footer-article {
    width: 33%;
    padding: 20px
}
.footer-article-subtitle {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0;
}
.footer-article-links {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.footer-article-links li {
    margin: 15px 0 0 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .populaires-cards .card {
        margin-bottom: 0;
    }
    .populaires-cards a {
        width: calc((100% - 40px) / 3);
    }

    .populaires-cards .card-title {
        font-size: 1rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.875rem;
    }
    .activites-cards img {
        height: 200px;
    }
     .main-section-filters {
        flex-direction: column;
        gap: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse; 
        gap: 15px;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
    }
    .hebergements-and-populaires section.hebergements {
        background-color: white;
        padding: 20px;
    }
    .populaires {
        width: 100%;
    }
    .populaires-title {
        margin-bottom: 15px;
    }
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }
    .populaires-cards .card {
        margin-bottom: 0;
    }
    .populaires-cards a {
        width: 100%;
    }
    .hebergements-title {
        margin-bottom: 15px;
    }
    .hebergements-cards {
        flex-direction: column;
        gap: 15px;
    }
    .hebergements-cards .card-subtitle {
        font-size: 0.875rem;
    }
    .hebergements-cards a {
        width: 100%;
    }
    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }
    .activites-cards a {
        width: 100%;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-article {
        width: 100%;
        padding: 30px;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header img {
        margin: 30px 0;
    }
    .header nav {
        width: 100%;
    }
    .header ul {
        width: 100%;
        padding-left: 0;
        gap: 0;
        margin: 0;
    }
    .header li {
        width: 100%;
    }
    .header a {
        display: flex;
        justify-content: space-around;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }
    .header a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-top: 0;
    }
    .main-section {
        padding: 0 20px 35px 20px;
        gap: 35px;
    }
    .main-section-info {
        margin: 0;
    }
    .main-section-search {
        width: calc(100% + 15px);
    }
    .main-section-search-btext {
        display: none;
    }
    .main-section-search-bicon {
        display: block;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: relative;
        right: 15px;
    }
    .main-section-search-bicon i {
        color: white;
    }
    .main-section-filters {
        flex-direction: column;
        gap: 20px;
    }
    .main-section-filters div {
        gap: 10px;
    }
    .main-section-filters a {
        width: calc((100% - 10px) / 2);
    }
    .main-section-filters p {
        font-size: 0.875rem;
    }
    .main-section-search-field {
        width: 100%;
    }
    .main-section-search-field #ville {
        width: 100%;
    }
}